body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #b1d2d2;
}

.header {
    background-color: #1DBE4F;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 1.5em;
    font-weight: bold;
    position: relative;
}

.back-arrow {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2em;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
}

.home-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    text-decoration: none;
    color: white;
    font-size: 1.5em;
}

.mobile-container {
    width: 375px; 
    height: 600px; 
    background-color: white;
    border-radius: 16px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.subheader {
    font-size: 16px;
    font-weight: normal;
    margin-top: 5px;
}

/* Estilo de las tarjetas de medicamentos */
.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 15px;
    padding: 15px;
}

.card h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
    font-weight: bold;
}

.card p {
    margin: 10px 0 0;
    font-size: 14px;
    color: #666;
}

.card hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 10px 0;
}

.footer {
    background-color: #e8f5e9;
    border-top: 1px solid #ccc;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
}

.footer .button {
    display: flex;
    align-items: center;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

.footer .button img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.footer .button:hover {
    background-color: #218838;
    
}

.footer .qr-code {
    width: 60px;
    background-color: white;
    height: 60px;
    border-radius: 5px;
    object-fit: cover;
}

.cuadro {
    text-align: center;
    border-color: black;
}